<div style="margin: 5px;">
  <h3>
    <!-- 請將練習1寫在TS中 -->
    練習1 請根據下圖去新增一個全域變數的資料(簡單來說就是看到這張圖你要怎麼去設計一個全域變數讓他可以在畫面上呈現)
  </h3>
  <h3>
    練習2 設計完請自行在HTML終將你設計的全域變數呈現在畫面上讓其跟範例圖片一致
  </h3>
  <div style="display: flex;">
    <img style="height: 400px; margin-right: 3px;" src="/practise14.png">
  </div>
  <!-- 請將練習2寫在這下面 -->
  <h3>練習2</h3>
  <div style="display: flex;">

    @for(student of studentData ;track $index){
    <div style=" font-weight: bold; font-size: 20px;border: solid; padding: 5px; width: 371px; margin-right: 5px;">
      <br>
      <p>學生名稱：{{student.name}}</p>
      <p>年紀：{{student.age}}</p>
      <p>性別：@if(student.gender == 'M'){男}
        @else if (student.gender == 'F'){女}
        @else{不公開}</p>
      <p>專業科目：</p>
      <ol>
        @for(subject of student.goodAtSubject; track $index){
        <div style="padding-left: 10px;">
          <li>
            {{subject.subject}}
          </li>
        </div>
        }
      </ol>
    </div>
    }

  </div>
</div>
