<div style="margin: 5px;">
  <h3>根據參考網站 新增一個側邊導航欄 並設計此頁面按鈕可以開始側邊導航欄</h3>
  <h3>參考網站<a href="https://material.angular.io/components/sidenav/overview">網址</a></h3>
  <!-- 請將練習寫在這下面 -->
  <h3>練習</h3>
  <button (click)="sidenav.toggle()">開啟SideNav</button>
  <div >
    <mat-sidenav-container style="height: 700px; width: 700px;">
      <mat-sidenav #sidenav mode="over" style="background-color: rgb(255, 240, 222);">
        Practice29 Sidenav content
      </mat-sidenav>

      <mat-sidenav-content style="background-color: rgb(226, 215, 201);">
        <span style="font-size: 140px;">Practice29</span>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
