<div style="margin: 5px;">
  <h3>練習1將material的select抓過來放到自己的頁面上(網站中的任一範例皆可)</h3>
  <h3>參考網站<a href="https://material.angular.io/components/select/overview">網址</a></h3>
  <!-- 請將練習1寫在這下面 -->
  <h3>練習1</h3>
  <div>
  <mat-form-field>
    <mat-label>Favorite animal</mat-label>
    <mat-select [formControl]="animalControl" required>
      <mat-option>--</mat-option>
      @for (animal of animals; track animal) {
      <mat-option [value]="animal">{{animal.name}}</mat-option>
      }
    </mat-select>
    @if (animalControl.hasError('required')) {
    <mat-error>Please choose an animal</mat-error>
    }
    <mat-hint>{{animalControl.value?.sound}}</mat-hint>
  </mat-form-field>
</div>
  <h3>練習2 請用select標籤寫出select功能</h3>
  <!-- 請將練習2寫在這下面 -->
  <h3>練習2</h3>
  <div>
    <select [(ngModel)]="selectedOption">
      <option value="" disabled> Please choose your favorite food</option>
      @for(option of selectArray; track $index){
        <option value="{{option.name}}">{{option.name}}</option>
      }
    </select>
    <br>
    @if(selectedOption){
      {{selectedOption}}
    }
  </div>
</div>
